
<div class="container">

  <div class="nation-select">
    <h3>Select Your Faction</h3>
    <a href="#" class="ru" (click)="selectNation('ru');">
      <img src="/assets/flags/ru.png" alt="Soviet Russia" />
    </a>
    <a href="#" class="de" (click)="selectNation('de');">
      <img src="/assets/flags/de.png" alt="Nazi Germany" />
    </a>
    <a href="#" class="us" (click)="selectNation('us');">
      <img src="/assets/flags/us.png" alt="United States" />
    </a>
    <a href="#" class="ja" (click)="selectNation('ja');">
      <img src="/assets/flags/ja.png" alt="Imperial Japan" />
    </a>
    <a href="#" class="zh" (click)="selectNation('zh');">
      <img src="/assets/flags/zh.png" alt="China" />
    </a>
    <a href="#" class="it" (click)="selectNation('it');">
      <img src="/assets/flags/it.png" alt="Italy" />
    </a>
    <a href="#" class="uk" (click)="selectNation('uk');">
      <img src="/assets/flags/uk.png" alt="British Commonwealth" />
    </a>
    <a href="#" class="ina" (click)="selectNation('ina');">
      <img src="/assets/flags/ina.png" alt="Indian National Army" />
    </a>
    <a href="#" class="fr" (click)="selectNation('fr');">
      <img src="/assets/flags/fr.png" alt="France" />
    </a>
  </div>
</div>
