@import "../common/includes"

.nation-select
  margin-top: 20px

  h3
    margin-bottom: 20px

  a
    display: inline-block
    margin-right: 5px
    cursor: pointer
    border: 1px solid transparent
    height: 16px

    &.us:hover
      border-color: $olive-drab

    &.ru:hover
      border-color: $russian-green

    &.zh:hover
      border-color: $chinese-blue

    &.uk:hover, &.ina:hover
      border-color: $desert-sand

    &.de:hover
      border-color: $afrika-mustard

    &.it:hover, &.ja:hover
      border-color: $jungle-green

    &.fr:hover
      border-color: $french-blue

.list-resources
  font-weight: bold
  padding: 5px 10px
  color: black

.container
  height: 100%

.main-row.row
  > .col
    margin-top: 30px


  > .col:nth-child(1)
    width: calc(100% - 860px)
    min-width: 240px
    min-height: 600px
    max-width: 430px

    @media screen and (max-width: 1100px)
      width: calc(100% - 430px)

  > .col:nth-child(2)
    width: 430px

  > .col:nth-child(3)
    width: 430px

.platoon-option
  color: $black
  margin-bottom: 5px

  > .right .center-vertical
    height: 22px

  > .name
    padding: 2px 5px
    display: inline-block

  .bttn
    margin-left: 5px

p.quote
  margin-bottom: 0

.chosen-platoons
  .platoon-edit, .platoon-duplicate, .platoon-remove
    display: inline-block
    padding-right: 10px

  .platoon .platoon-squads > div > div
    margin-left: 15px

  .platoon-info
    box-sizing: border-box
    border-width: 0 0 0 3px
    border-style: solid

  .platoon-info, .platoon .platoon-squads > div > div
    background-color: rgba(0, 0, 0, 0.4)
    padding: 4px 8px
    margin-bottom: 6px

  .platoon-squads
    transition: .5s all
    max-height: 0px
    overflow-y: hidden

    &.expanded
      max-height: 400px

.active-squad
  height: 555px
  width: 400px
  position: relative
  font-family: 'nunito'
  font-weight: bold
  color: white
  font-size: 16px

  .model-checkboxes
    margin-right: 10px

    .checkbox
      display: block
      float: right
      margin-left: 5px
      margin-top: 6px
      width: 20px

  &.faction-back
    .card-container
      max-height: 460px

  &.front .card-container
    overflow: visible
    max-height: none

  .card-container
    padding: 0 0 0 15px
    margin-top: 16px
    overflow: auto
    max-height: 380px

  .card-front
    padding-right: 2px
    max-width: 370px

  .card-back
    padding-bottom: 5px
    max-width: 370px

    .weapon
      padding-bottom: 5px

      &.alt-ammo
        padding-bottom: 2px

      .weapon-special
        padding: 5px 0 0 10px
        font-family: 'nunito'

    h3
      padding: 0 0 5px 10px

    .weapon-bar
      background: rgba(0,0,0,0.4)
      padding: 3px 10px

      .blast > img
        margin-top: -2px

      .right > span, .right > .center-vertical > span
        display: table
        float: left
        padding-left: 5px

        img
          padding-right: 4px

        > *
          display: table-cell
          vertical-align: middle

  h3
    font-family: 'AGENCYB'
    font-size: 24px
    margin: 0

  .stat
    position: absolute
    display: table

    img
      padding-right: 5px

    > *
      display: table-cell
      vertical-align: middle

  .move
    top: 470px
    left: 25px

  .morale
    top: 505px
    left: 25px

  .defense
    top: 470px
    left: 108px

  .hp
    top: 505px
    left: 110px

  .comms
    top: 470px
    left: 165px

  .close-combat
    top: 505px
    left: 165px

  .characteristics
    position: absolute
    top: 466px
    left: 225px
    width: 161px

    h3
      padding: 0 0 0 0

    p
      margin: 0

  h2
    font-family: 'AGENCYB'
    text-transform: uppercase
    padding: 18px 0 0 18px
    font-size: 32px
    margin: 0

    span
      font-size: 20px

  .card-icon
    position: absolute
    top: 15px
    right: 15px

  .main-image
    padding: 0
    overflow: hidden
    width: 370px
    height: 228px
    position: relative

    img
      width: 100%

  .points-bar
    background-color: rgba(0, 0, 0, 0.5)
    padding: 4px 8px

    .faction-nations
      text-transform: uppercase

  .hq
    float: right

  .lore-container
    padding: 10px

    .variant
      cursor: pointer

      .lock-icon
        width: 12px
        margin-right: 4px
        display: inline-block
      .unlock-icon
        width: 16px

    .hr
      margin-top: 10px
      margin-bottom: 10px

    p
      margin-top: 0
      font-size: 14px

.german
  .active-squad
    background: url("../../assets/germans/card-back.jpg") center center

    &.front
      background: url("../../assets/germans/card-front.jpg") center center
