
<div class="container {{nation}}">

  <div class="right list-resources faction-bg">
    {{getPoints() + getFactionPoints()}} pts | {{getOptions()}} opts
  </div>
  <a (click)="lists = []" class="bttn right reset-button">Reset</a>

  <div class="nation-select">
    <h3>Select Your Nation</h3>
    <a class="ru" (click)="selectNation('russian');">
      <img src="/assets/flags/ru.png" alt="Soviet Russia" />
    </a>
    <a class="de" (click)="selectNation('german');">
      <img src="/assets/flags/de.png" alt="Nazi Germany" />
    </a>
    <a class="us" (click)="selectNation('american');">
      <img src="/assets/flags/us.png" alt="United States" />
    </a>
    <a class="ja" (click)="selectNation('japanese');">
      <img src="/assets/flags/ja.png" alt="Imperial Japan" />
    </a>
    <a class="zh" (click)="selectNation('chinese');">
      <img src="/assets/flags/zh.png" alt="China" />
    </a>
    <a class="ina" (click)="selectNation('indian');">
      <img src="/assets/flags/ina.png" alt="Indian National Army" />
    </a>
    <a class="uk" (click)="selectNation('british');">
      <img src="/assets/flags/uk.png" alt="British Commonwealth" />
    </a>
    <a class="it" (click)="selectNation('italian');">
      <img src="/assets/flags/it.png" alt="Italy" />
    </a>
    <a class="fr" (click)="selectNation('french');">
      <img src="/assets/flags/fr.png" alt="France" />
    </a>
  </div>

  <div class="clearfix"></div>
</div>
