@import "common/includes"

#header
  background-color: $black
  position: fixed
  overflow: auto
  width: 100%
  z-index: 2


#main
  position: relative
  min-height: 100vh
  padding-top: 138px
  padding-bottom: 75px
  box-sizing: border-box
  z-index: 1

.bossname
  margin: 0
  position: absolute
  bottom: 10px
  left: 15px
  color: $white
  text-shadow: $black 0 0 4px

.flex + .flex
  img
    max-width: 80px
  h3
    font-size: 16px
    left: 7px
    bottom: 7px
