<div id="header">
  <div class="container">
    <div class="clearfix">
      <a id="logo" alt="Iron Front Down" (click)="setView('home')">
        <img class="logo" src="assets/logo.png" />
<!--        <h1>Iron Front Down</h1>-->
      </a>
      <div class="right">
        <app-account></app-account>
      </div>
    </div>
    <div class="menu">
      <a href="#/game" (click)="setView('game')">Game</a>
      <a href="#/store" (click)="setView('store')">Store</a>
      <a href="#/rules" (click)="setView('rules')">Rules</a>
      <a href="#/about" (click)="setView('about')">About</a>
    </div>
  </div>
</div>

<div id="main">
  <app-home *ngIf="isHome"></app-home>

  <app-game *ngIf="isGame"></app-game>

  <app-store *ngIf="isStore"></app-store>

  <app-about *ngIf="isAbout"></app-about>
</div>



<app-footer></app-footer>
