<div id="header">
  <div class="container">
    <h1>JWARaidSim</h1>
  </div>
</div>

<div id="main">
  <div class="container">
    <div class="clearfix">
      <div *ngFor="let boss of bossesService.bosses" class="clearfix flex">
        <img [src]="boss.img" [alt]="boss.name" />
        <h3 class="bossname">{{boss.name}}</h3>
        <div *ngFor="let moveset of boss.moveset" class="divider">
          <app-move *ngFor="let move of moveset" [move]="move" [isboss]="true"></app-move>
        </div>

      </div>
    </div>
  </div>
</div>



<app-footer></app-footer>
