<a href="#" (click)="setView('home')">
  <div class="logo" style="width:50px; height: 50px; background: #666;"></div>
  <h1>Iron Front Down</h1>
</a>
<app-account></app-account>

<div class="sidebar">
  <a href="#" (click)="setView('game')">Game</a>
  <a href="#" (click)="setView('store')">Store</a>
  <a href="#" (click)="setView('rules')">Rules</a>
  <a href="#" (click)="setView('about')">About</a>
</div>

<app-home *ngIf="isHome"></app-home>

<app-game *ngIf="isGame"></app-game>

<app-store *ngIf="isStore"></app-store>

<app-about *ngIf="isAbout"></app-about>


<app-footer></app-footer>
