@import "common/includes"

#header
  background-color: $black
  position: fixed
  overflow: auto
  width: 100%

#logo
  float: left

  img
    float: left
  h1
    float: left
    margin-left: 30px


#main
  position: relative
  min-height: 100vh
  padding-top: 138px
  padding-bottom: 75px
  box-sizing: border-box

.menu
  a
    display: inline-block
    padding: 10px 20px
    text-decoration: none

    &:hover
      text-decoration: none
