
body
  background-color: $background-color
  color: $off-white

.right
  float: right

.left
  float: left

.txt-center
  text-align: center

.clearfix
  overflow: auto

  &:after
    content: ''
    display: block
    clear: both

a
  text-decoration: none
  color: $afrika-mustard
  cursor: pointer

  &:hover
    text-decoration: underline
.french
  a
    color: $french-blue
.indian, .british
  a
    color: $desert-sand
.german
  a
    color: $afrika-mustard
.italian, .japanese
  a
    color: $jungle-green
.american
  a
    color: $olive-drab
.chinese
  a
    color: $chinese-blue
.russian
  a
    color: $russian-green
